b:link {text-decoration: none; color:#0000bb;}
b:visited {text-decoration: none; color:#0000bb;}
b:active {text-decoration: none; color:#0000bb;}
b:hover {text-decoration: underline; color:#0000bb;}
a:link {text-decoration: none; color:#0000bb;}
a:visited {text-decoration: none; color:#0000bb;}
a:active {text-decoration: none; color:#0000bb;}
a:hover {text-decoration: underline; color:#0000bb;}

div.title
{
font-size: 25px;
color:#0000bb;
}

div.messagebox
{
background-color:#EEEEEE;
width:500px;
}

div.message
{
background-color:#aaaaFF;
position:relative;
padding:10px;
width:500px;
left:0px;
}

div.messageName
{
font-size: 22px;
color:#0000bb;
}

div.messageTime
{
color:#0000bb; 
width:100px;
position:relative;
left:400px;
font-size: 10px;
}
div.messageText
{
word-wrap:break-word;
}

div.comment
{
background-color:#D3D6FF;
padding:10px;

border-top: 5px solid #EEEEEE;
position:relative;
width:400px;
left:100px;
}

div.commentName
{
color:#0000bb;
font-size: 22px;
}

div.commentTime
{
color:#0000bb; 
width:100px;
position:relative;
left:300px;
font-size: 10px;
}
div.commentText
{
word-wrap:break-word;
}

div.newComment
{
background-color:#D3D6FF;
padding:10px;
border-top: 5px solid #EEEEEE;
border-bottom: 5px solid #EEEEEE;
width:400px;
position:relative;
left:100px;
}